<div class="main-body">

  <div class="election-heading">
    <h3>Admin Dashboard</h3>
  </div>

  <ul class="admin-dashboard-options">
    <li><a href="/elections/new">Create New Election</a></li>
    <li><a href="/elections/drafts">Draft Elections</a></li>
    <li><a href="/elections/active">View Running Election</a></li>
    <li><a href="/elections/archived">Archived Elections</a></li>
    <li><a href="/voters/new">Add Voter</a></li>
    <li><a href="/voters">Manage Voters</a></li>
  </ul>

</div>