<div class="main-body">
  <div class="main-body">
    <form action="/login" method="post" class="login-register-form">

      <input type="text" name="role" value="admin" hidden>


      <div class="mb-3">
        <label for="emailId" class="form-label">Email address</label>
        <input name="email_id" type="email" class="form-control" id="emailId" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input name="password" type="password" class="form-control" id="password">
      </div>
      <button type="submit" class="btn btn-primary">Login As Admin</button>
    </form>
  </div>
</div>