<div class="main-body">
  <div class="main-body bg-white shadow-lg rounded-lg mt-5">
    <%= form_with(url: admin_register_path, method: :post, class: ' p-1 pl-5 mx-5') do %>

      <div class="text-center text-xl mt-5 text-gray-700 font-black">
        <p class="py-5">New Admin</p>
      </div>



      <div class="mt-2">
        <label
          class="pl-2 text-sm font-medium text-gray-600"
          for="emailId">
          First Name
        </label>
        <input
          class="block w-full rounded-full"
          name="first_name"
          type="text"
          id="emailId"
          placeholder=""
        >
      </div>


      <div class="mt-2">
        <label
          class="pl-2 text-sm font-medium text-gray-600"
          for="emailId">
          Last Name
        </label>
        <input
          class="block w-full rounded-full"
          name="last_name"
          type="text"
          id="emailId"
          placeholder=""
        >
      </div>

      <div class="mt-2">
        <label
          class="pl-2 text-sm font-medium text-gray-600"
          for="emailId">
          Email Address
        </label>
        <input
          class="block w-full rounded-full"
          name="email_id"
          type="text"
          id="emailId"
          placeholder="youname@example.com"
        >
      </div>

      <div class="mt-2">
        <label
          class="pl-2 text-sm font-medium text-gray-600"
          for="password">
          Voter Password
        </label>
        <input
          class="block w-full rounded-full"
          name="password"
          type="password"
          id="password"
          placeholder="***********"
        >
      </div>
      <div class="w-full text-center mt-2 mt-5 py-8">
        <button
          class="bg-sky-500 text-white font-medium text-base py-1 px-8 rounded-full hover:bg-sky-900"
          type="submit">Register As Admin</button>
      </div>
    <% end %>
  </div>
</div>