<div class="main-body">
  <div class="main-body bg-white shadow-lg rounded-lg">
    <%= form_with(url: "/voters/#{@voter.id}", method: :patch, class: 'p-4') do %>
      <div class="mb-3">
        <label
          class="text-sm pl-2 text-gray-600 font-medium"
          for="firstName"
        >
          First Name
        </label>
        <input
          class="block w-full rounded-full"
          name="first_name"
          type="text"
          id="firstName"
          aria-describedby="emailHelp"
          value="<%= @voter.first_name %>"
        >
      </div>

      <div class="mb-3">
        <label
          class="text-sm pl-2 text-gray-600 font-medium"
          for="lastName">
          Last Name
        </label>
        <input
          class="block w-full rounded-full"
          name="last_name"
          type="text"
          id="lastName"
          aria-describedby="emailHelp"
          value="<%= @voter.last_name %>"
        >
      </div>

      <div class="mb-3">
        <label
          class="text-sm pl-2 text-gray-600 font-medium"
          for="emailId"
        >Voter ID</label>
        <input
          class="block w-full rounded-full"
          name="voter_id"
          type="text"
          id="emailId"
          aria-describedby="emailHelp"
          value="<%= @voter.voter_id %>"
          readonly
        >
      </div>
      <div class="mb-3">
        <label
          class="text-sm pl-2 text-gray-600 font-medium"
          for="password"
        >Password</label>
        <input
          class="block w-full rounded-full"
          name="password"
          type="password"
          id="password">
      </div>
      <div class="w-full text-center py-4">
        <button
          class="py-1 px-8 bg-sky-500 text-white font-medium rounded-full"
          type="submit">
          Update Voter
        </button>
      </div>
    <% end %>
  </div>
</div>