<div class="main-body">

  <% elections.each do |election| %>
    <div class="active-elections-card">
      <a href="/elections/e/<%= election.custom_url %>">
        <div class="active-election-card-left">
          <h3><%= election.name %></h3>
        </div>
      </a>
    </div>

  <% end %>

</div>