<div class="main-body">

  <% elections.each do |election| %>
    <div class="active-elections-card">
      <div class="active-election-card-left">
        <h3><%= election.name %></h3>
      </div>

    </div>
  <% end %>

</div>