<div class="main-body">
<!--  <ul>-->
    <%# draft_elections.each do |election| %>
<!--      <li><a href="/elections/drafts/edit/<%#= election.id %>"><%#= election.name %></a></li>-->
    <%# end %>
<!--  </ul>-->


  <% draft_elections.each do |election| %>
    <div class="active-elections-card">
      <a href="/elections/drafts/edit/<%= election.id %>">
        <div class="active-election-card-left">
          <h3><%= election.name %></h3>
        </div>
      </a>
    </div>

  <% end %>

</div>
