<div class="main-body">

  <% draft_elections.each do |election| %>
    <div class="bg-gray-200 shadow-lg rounded-lg mt-5">
      <a href="<%= edit_draft_path(id: election.id)%>">
        <div class="p-5">
          <h3 class="text-sky-900 tracking-widest font-medium text-xl"><%= election.name %></h3>
        </div>
      </a>
    </div>
  <% end %>

</div>
