<div class="main-body">


  <form action="/elections" method="post" class="new-election-form">
    <div class="mb-3">
      <label for="electionName" class="form-label">Election Name</label>
      <input name="election_name" type="text" class="form-control" id="electionName" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="electionCustomUrl" class="form-label">Custom URL</label>
      <input name="election_custom_url" type="text" class="form-control" id="electionCustomUrl">
    </div>
    <button type="submit" class="btn btn-secondary">Save To Draft</button>
  </form>

</div>