<div class="main-body">

  <%=
    render 'layouts/election-heading', locals:{
      election_name: @election.name
    }
  %>

  <% @election.questions.each do |question| %>
    <%=
      render 'layouts/display-question', question: question, total_votes: @total_votes
    %>
  <% end %>
</div>