<div class="main-body">

  <ul>
    <li><a href="/elections/new">Create New Election</a></li>
    <li><a href="#">View Running Election</a></li>
    <li><a href="#">Add Voter</a></li>
    <li><a href="#">Draft Elections</a></li>
    <li><a href="#">Manage Voters</a></li>
  </ul>

</div>