<div class="flex justify-center align-center w-full bg-[url('https://images.unsplash.com/photo-1603032813605-2c91e257e2ae?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8dm90ZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=900&q=60')] h-screen w-full bg-cover">

  <!--  LOGIN PAGE FOR VOTER ON HOME PAGE-->
  <div class="text-center mt-20 h-screen">
    <p class="text-4xl text-gray-600 font-black tracking-widest mb-8">The Next Level Voting Platform</p>
    <a href="/login"
       class="bg-gray-900 hover:bg-gray-300 hover:text-black rounded-full py-1 px-10 text-white text-base mt-8">
      Vote Now!
    </a>
  </div>
</div>
