<div class="container-fluid main-content">
  <div class="banner">
<!--    <img src="banner.jpg" alt="banner">-->
    <%= image_tag "banner.jpg" %>
  </div>


<!--  LOGIN PAGE FOR VOTER ON HOME PAGE-->

  <div class="login-side">
    <div class="login-card">

      <p>
        The <br>
        Next <br>
        Level <br>
        Voting <br>
        Platform <br>
      </p>

      <a href="/login" class="btn btn-info btn-lg btn-outline-primary">Vote Now!</a>
    </div>
  </div>
</div>
