.new-election{
    width: 65%;
    margin: 0 auto;
    height: 100vh;
    /*background: rebeccapurple;*/
}

.new-election-form{
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
}